@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/mulish-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/mulish-v12-latin-500.woff2') format('woff2'),
        url('../fonts/mulish-v12-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/mulish-v12-latin-600.woff2') format('woff2'),
        url('../fonts/mulish-v12-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/mulish-v12-latin-700.woff2') format('woff2'),
        url('../fonts/mulish-v12-latin-700.woff') format('woff');
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.site__main {
    margin: 0;
    padding: 0;

}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 1170px;
}

.main__section {
    margin: 0;
    padding: 55px 0 0 0;

}

.main__section--top {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__section__top--title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #555555;
}

.top__inner {
    margin: 45px;
    padding: 0;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__inner--link {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C2C2C2;
    text-decoration: none;
}

.top__inner--link:hover {
    color: #7AC751;
}

.main__section--content {
    margin: 0;
    padding: 0;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}


.main__section--card {
    position: relative;
    margin-bottom: 45px;
    width: 270px;
}

.card-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__section__card--img {
    position: relative;
    overflow: hidden;
    transition: all 1s;
}

/* .main__section__card--img:hover{
    width: 290px;
    height: 300px;
    transform: scale(110%);} */


.card-desc {
    position: absolute;
    z-index: 2;
    margin: 0 0 0 1px;
    padding: 3px 9px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.008em;
    color: #FFFFFF;
    border: none;
    background: #00B7F1;
    border-radius: 0px 0px 5px 0px;
}

.desc__green {
    background: #7AC751;
}

.card-body {
    margin: 0;
    padding: 0;
}

.card__body--text {
    margin: 15px 0 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.008em;
    text-transform: uppercase;
    color: rgba(117, 117, 117, 0.71);
}

.card__body--title {
    margin: 9px 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #555555;
}

.card__footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__footer--price {
    margin: 0;
    padding: 0;
    width: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__footer--newprice {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #7AC751;
}

.card__footer--oldprice {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    text-decoration-line: line-through;
    color: #CCCCCC;
}

.card__footer--rate {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    stroke: #7AC751;
}

.card__footer__rate--img {
    fill: none;
}

/* .card__footer__rate--img:hover {
    fill: blue;
    stroke: pink;
    stroke-width: 5;
    fill-opacity: 0.1;
    stroke-opacity: 0.9;
} */

.main__slide {
    margin: 20px auto 99px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__section--icon {
    display: none;
    position: relative;
    z-index: 55;
}

.section__icon--inner {
    position: absolute;
    top: -190px;
    left: 220px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.main__section--card:hover .main__section--icon {
    display: block;
}


.icon__images {
    margin: 0 0 10px 0;
    padding: 8px 5px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.icon__images:hover {
    background: #7AC751;
    box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
}

.top__inner--services {
    margin: 45px 0 73px 0;
    padding: 0;
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc__red {
    background-color: #ff6868;
}

/* service section header start styles start  */
.header__section--card {
    margin: 0;
    padding: 60px 0;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__section__card--content {
    background-image: url(../pictures/Rectangle43.png);
    background-repeat: no-repeat;
}

.section__card__header--img {
    background-image: url(../pictures/Rectangle44.png);
    background-repeat: no-repeat;
    /* background-size: 570px 250px; */
}

.main__section--thumb {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-transform: uppercase;
    color: #555555;
    font-weight: 700;
}

.section__card--header {
    position: relative;
    margin: 0;
    padding: 28px 319px 29px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 570px;
}

.section__card--header::before {
    position: absolute;
    z-index: 3;
    margin: 0 0 0 0;
    padding: 5px 8px;
    top: 0;
    left: 509px;
    content: "40% off";
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.008em;
    color: #FFFFFF;
    background: #00B7F1;
    border-radius: 0px 0px 5px 0px;
}

.card__section__body--text {
    margin: 11px 0 21px 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #757575;
}

.card-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card__header__heading {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #555555;
}

.card__footer--innersection {
    margin: 0 0 29px 0;
    padding: 0;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innersection--price {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    color: #ccc;
    text-decoration: none;
}

.color {
    font-weight: 700;
    color: #7AC751;
}

.inner-link {
    margin: 0;
    padding: 7px 10px 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #7AC751;
    border-radius: 2px;

}

.card__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card__item {
    margin: 0;
    padding: 7px 10px 8px 9px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    background: #7AC751;
}

.item-span {
    font-weight: 400;
    font-size: 6px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* main page section start styles  */
.main__page--section {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.main__page {
    margin: 0 0 120px 0;
    padding: 12px 29px;
    width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__left--page {
    margin: 0;
    padding: 12px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7AC751;
    border-radius: 2px;
}

.next--link {
    padding-right: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #FFFFFF;
}

.main__right--page {
    margin: 0;
    padding: 0;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.page-span {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.008em;
    color: #757575;
}

.p__inner--link {
    margin: 0;
    padding: 7px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.008em;
    color: #757575;
    background: #F8FAFB;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    text-decoration: none;
}

.page__right {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p__right--link {
    margin: 0;
    padding: 8px 13px;
    background: #7AC751;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop__img {
    /* margin-right: 18px   ; */
    transform: rotate(0deg);
}

.prewiev {

    transform: rotate(180deg);

}

/* main page section start styles  */
/* service section header end styles start  */